# ignore samples dir
datacards/*.txt
datacards/*.root
datacards/*.out
*/
*.root
CutPython.py
*.sh
.vscode/
!include/
!src/
datacards_*/
PythonTest.ipynb
PlotYield.ipynb
ReadROOT.ipynb
include/selections.h
*.log
*.txt
*ACLiC*
*.d
*.so
*.out
Create_EightSelection.py 
MuE_run.py 
all_final_acceptance.json 
combine_upperlimit.py 
compare_ETauMuSelection.py 
compare_MuESelection.py 
getresultdata.py 
*NoPTMin.json 
*OnlyPT.json 
*PTthenMass.json 
runall_twoRegion_MuE.py 
runall_twoRegion_NEW.py
HLFV_paper/
temp/
analysis/
junk/
__pycache__/
PythonTest.ipynb
outputs/
samples/
outdir/
out_plots_eeZH/
Run_merged_card.py
